---
import { Picture } from "@astrojs/image/components";
---

<style>
.bahnfinder-label {
  min-height: 1.3em;
  display: inline-block;
  line-height: 1.2;
  padding-bottom: 0.2rem;
  font-weight: bold;
}

h1 {
  overflow: visible;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .image-wrapper {
    margin-bottom: 0rem; /* Adjust this value to control spacing */
  }

  h1 {
    margin-top: 0; /* Removes extra margin if any */
  }
}
</style>

<main class="grid lg:grid-cols-2 place-items-center pb-8 md:pt-12 md:pb-24">
  <!-- Spotlight image section -->
  <div class="py-4 md:order-1 sm:order-1 md:block sm:block">
    <div class="image-wrapper">
      <Picture
        src="/images/spotlightIcon.png"
        alt="Spotlight image description"
        widths={[300, 600, 1024]}
        sizes="(max-width: 600px) 300px, (max-width: 1024px) 600px, 1024px"
        aspectRatio={1 / 1}
        class="w-full h-full rounded-lg object-contain"
      />
    </div>
  </div>

  <!-- Hero content -->
  <div class="py-8 md:order-2 sm:order-2 flex justify-center w-full">
  </div>
  <div>
    <h1 class="flex-col text-5xl lg:text-6xl xl:text-7xl lg:tracking-tight xl:tracking-tighter BFGradient">
      <span id="bahnfinder-label" class="bahnfinder-label">
        Bahnfinder
      </span>
    </h1>
    <p class="text-lg mt-4 secondaryLabelColor max-w-xl">
      Mithilfe der Bahnfinder-App kommst Du täglich einfacher und schneller durch den ÖPNV Deiner Stadt.<wbr />
      Lade Dir die App noch heute kostenlos runter und probier's gleich aus!
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <a href="https://apps.apple.com/de/app/bahnfinder/id6446902537?itscg=30200&itsct=apps_box_badge&mttnsubad=6446902537" style="display: inline-block;">
        <img src="https://toolbox.marketingtools.apple.com/api/v2/badges/download-on-the-app-store/black/de-de?releaseDate=1680307200" alt="Im App Store laden" style="width: 245px; height: 82px; vertical-align: middle; object-fit: contain;" />
      </a>
    </div>
  </div>
</main>