---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Mit den meisten Verkehrsgesellschaften</h2>
  <div class="flex gap-4 md:gap-4 items-center justify-center mt-6 flex-wrap">
    <img src="images/logos/icon_DB.png" class="icon-size" alt="DB Logo" />
    <img src="images/logos/icon_AVV.png" class="icon-size" alt="AVV Logo" />
    <img src="images/logos/icon_KVV.png" class="icon-size" alt="KVV Logo" />
    <img src="images/logos/icon_MVG.png" class="icon-size" alt="MVG Logo" />
    <img src="images/logos/icon_MVV.png" class="icon-size" alt="MVV Logo" />
    <img src="images/logos/icon_VBN.png" class="icon-size" alt="VBN Logo" />
    <img src="images/logos/icon_VGN.png" class="icon-size" alt="VGN Logo" />
    <img src="images/logos/icon_VMS.png" class="icon-size" alt="VMS Logo" />
    <img src="images/logos/icon_VMV.png" class="icon-size" alt="VMV Logo" />
    <img src="images/logos/icon_VRN.png" class="icon-size" alt="VRN Logo" />
    <img src="images/logos/icon_VRR.png" class="icon-size" alt="VRR Logo" />
    <img src="images/logos/icon_VVO.png" class="icon-size" alt="VVO Logo" />
  </div>
</div>

<style>
  .icon-size {
    height: 48px; /* Fixed height */
    width: 48px;  /* Fixed width */
  }
</style>
